.like-icons {
  font-size: 32px;
  height: 32px;
  width: 32px;
  color: #ddd;
  cursor: pointer;
}
like-icon.hover {
  color: red;
}

.like-icons-con {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 7px;
  background-color: #fff;
  margin: 7px;
}

.links {
  text-decoration: now;
  color: #002f43;
  font-size: 24px;
  font-weight: bold;
}

.price-text{
  color: #002f43;
}

.clear-btn {
  height: 24px;
  background-color: #002f34;
  color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  width: 80px;
  padding: 0px 15px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}
